---
import Heading2 from "./ui/Heading2";
import Text from "./ui/Text";
import Button from "./ui/Button";
import RedirectCheckout from "./ui/RedirectCheckout";

interface Props {
    heading: string;
    content: string;
    buttonText: string;
    buttonLink?: string;
    type?: "cta" | "email";
    variant?: "primary" | "secondary";
    isHidden?: boolean;
    lang?: string;
    plan?: string;
    recurrence?: string;
    os?: string;
    flow?: string;
    formAuth?: boolean;
    app?: string;
    dataKyteGa?: string;
}

const {
    heading,
    content,
    buttonText,
    buttonLink,
    type = "cta",
    variant = "primary",
    lang = "",
    plan = "",
    recurrence = "",
    os = "lp",
    flow = "",
    app = "",
    dataKyteGa = "G-41YGQTYJJS",
} = Astro.props;

const styles = {
    primary: {
        background: "bg-primary",
        headingColor: "white" as const,
        textColor: "white" as const,
        buttonVariant: "outline" as const,
        checkoutVariant: "secondary" as const,
    },
    secondary: {
        background: "bg-[#F7F7F8]",
        headingColor: "kyte-gray" as const,
        textColor: "kyte-gray" as const,
        buttonVariant: "primary" as const,
        checkoutVariant: "primary" as const,
    },
};

const currentStyle = styles[variant];
---

<div
    class={`max-w-[1080px] w-[100%] md:w-full rounded-xl ${currentStyle.background} justify-items-center py-8 px-4 md:px-6 mx-auto`}
>
    <div class="max-w-[640px] flex flex-col gap-2 items-center mx-auto">
        <Heading2
            client:visible
            color={currentStyle.headingColor}
            align="center-all"
        >
            {heading}
        </Heading2>
        <Text
            client:visible
            color={currentStyle.textColor}
            size="medium"
            align="center-all"
        >
            {content}
        </Text>
        {
            type === "email" ? (
                <RedirectCheckout
                    client:only="react"
                    buttonText={buttonText}
                    redirectUrl="https://kyteapp.com/loading"
                    variant={currentStyle.checkoutVariant}
                    lang={lang}
                    plan={plan}
                    recurrence={recurrence}
                    os={os}
                    flow={flow}
                    app={app}
                    dataKyteGa={dataKyteGa}
                />
            ) : (
                <Button
                    client:visible
                    variant={currentStyle.buttonVariant}
                    href={buttonLink}
                >
                    {buttonText}
                </Button>
            )
        }
    </div>
</div>
