---
import BeforeAfterSlider from "../components/BeforeAfterSlider.tsx";
import Section from "./Section.astro";
import H1 from "./ui/Heading1";
import Text from "./ui/Text";
import {
    PortugueseCalculator,
    SpanishCalculator,
} from "../data/CalculatorReference";

interface Props {
    title: string;
    subtitleBold: string;
    subtitleRegular: string;
    beforeImage: string;
    afterImage: string;
    beforeLabel: string;
    afterLabel: string;
    proof1Image: string;
    proof1Alt: string;
    proof2Image: string;
    proof2Alt: string;
    proof3Image: string;
    proof3Alt: string;
    calculatorVariant?: "portuguese" | "spanish";
}

const {
    title,
    subtitleBold,
    subtitleRegular,
    beforeImage,
    afterImage,
    beforeLabel,
    afterLabel,
    proof1Image,
    proof1Alt,
    proof2Image,
    proof2Alt,
    proof3Image,
    proof3Alt,
    calculatorVariant = "portuguese",
} = Astro.props;
---

<Section variant="white">
    <div class="container mx-auto max-w-[1080px] pb-12">
        <div class="flex flex-col md:flex-row items-end justify-between gap-8">
            <div class="w-full md:w-1/2 text-center md:text-left">
                <H1 color="kyte-gray" align="left-all">
                    {title}
                </H1>
                <Text color="kyte-gray" align="left-all" size="large">
                    <strong>{subtitleBold}</strong>
                    <br />
                    {subtitleRegular}
                </Text>
                {
                    /* BeforeAfter Slider - Hidden on mobile, visible on desktop */
                }
                <div class="hidden md:block">
                    <BeforeAfterSlider
                        client:load
                        beforeImage={beforeImage}
                        afterImage={afterImage}
                        beforeLabel={beforeLabel}
                        afterLabel={afterLabel}
                    />
                </div>
            </div>

            <div class="w-full md:w-1/2 justify-items-center">
                {/* Arrows - Desktop only */}
                <div class="hidden md:flex justify-center mb-8">
                    <img
                        src="/images/arrows1.svg"
                        alt="Arrows pointing to calculator"
                        width="80"
                        height="80"
                        class="transform scale-x-[-1]"
                    />
                </div>
                {/* Calculator - Visible on all screens */}
                {
                    calculatorVariant === "spanish" ? (
                        <SpanishCalculator client:only="react" />
                    ) : (
                        <PortugueseCalculator client:only="react" />
                    )
                }
                <div class="flex flex-row items-center gap-4 mt-6">
                    <img src={proof1Image} alt={proof1Alt} width="100" />
                    <img src={proof2Image} alt={proof2Alt} width="100" />
                    <img src={proof3Image} alt={proof3Alt} width="100" />
                </div>
            </div>

            {/* BeforeAfter Slider - Visible only on mobile */}
            <div class="block md:hidden w-full">
                <BeforeAfterSlider
                    client:load
                    beforeImage={beforeImage}
                    afterImage={afterImage}
                    beforeLabel={beforeLabel}
                    afterLabel={afterLabel}
                />
            </div>
        </div>
    </div>
</Section>
